{% extends 'account/base.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md-5">
        <h5>Welcome to the Tenants Page</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="">Edit Tenants Information</a>
            <table class="table table-sm">
                <tr>

                    <th>Name of the Tenants </th>
                </tr>
                {% for t in rents %}
                <tr>
                    <td> {{ t.tenant.name }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>Tenant Information</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="">Show Information </a>
            <table class="table table-sm">
                <tr>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th> House Number </th>
                    <th>Room Rent </th>
                    <th>Electricity </th>
                    <th> Wifi </th>


                </tr>


                {% for t in rents %}
                <tr>
                    <td> {{t.tenant.email}} </td>
                    <td>{{t.tenant.phone_number}} </td>
                    <td>{{t.tenant.house_no}} </td>
                    <td> {{t.tenant.room_rent}}</td>
                    <td> {{t.tenant.electricity}}</td>
                    <td> {{t.tenant.wifi}}</td>
                
                </tr>
                {% endfor %}

                {% for l in rents %}
                <tr> <td> {{l.landlord.name}} </td></tr>
                {% endfor %}
            </table>

        </div>
    </div>

</div>

{% endblock %}